/*font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;*/

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

:root {
  /*font-family*/
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace; 
  /*font-weight*/
  --fw-reg: 300; 
  --fw-bold: 900; 
  /*colors*/
  --clr-light: #fff; 
  --clr-dark: #19191e; 
  --clr-accent: #ffc8a2; 
  /*font-size*/
  --fs-h1: 3rem; 
  --fs-h2: 2.25rem; 
  --fs-h3: 1.25rem; 
  --fs-body: 1rem; 
  /*box-shadow*/
  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem; 
    --fs-h2: 3.75rem; 
    --fs-h3: 1.5rem; 
    --fs-body: 1.125rem; 
  }
}

/* General Styles */

html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0; 
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6; 
}

section {
  padding: 5em 2em; 
}

img {
  display: block; 
  max-width: 100%; 
}

.img-logo {
  max-width: 80%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 3px solid transparent;
  outline-offset: 3px;
}

/* Buttons */

.btn {
  display: inline-block; 
  text-align: center;
  padding: .5em 1.9em;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none; 
  cursor: pointer;
  font-size: var(--fs-body); 
  font-weight: 500;
  text-transform: uppercase; 
  letter-spacing: 2px;
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1); 
}

/* Typography */


h1, 
h2, 
h3 {
  line-height: 1; 
  margin: 0 ; 
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: .25em; 
}

.section__title--intro {
  font-weight: var(--fw-reg);
  margin-bottom: 0;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0; 
  font-size: var(--fs-h3);
}

.section__subtitle--intro {
  padding: .15em 0;
  font-family: var(--ff-secondary);
  margin-bottom: .5em;
}

.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}
.section__subtitle--work {
  color: var(--clr-accent);
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  margin-bottom: 2em; 
}

.section__subtitle--blog {
  color: var(--clr-dark);
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: .25em;
  margin-bottom: 1em;
}

.comingSoon {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
}
/* Header */
header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1em;
  grid-column-gap: 10px;
}

.logo {
  max-width: 170px;
  padding: 0;
}

.nav-toggle {
  display: none;
}

.nav {
  justify-self: end;
  align-self: start;
}

.nav__list{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
  font-size: var(--fs-h3);
}

.nav__link {
  text-decoration: none;
  color: var(--clr-dark);
  padding: 0 15px;
  font-weight: 300;
}

@media (max-width: 600px) {

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  display: block;
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute; 
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
  background-color: white;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
  background-color: white;
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
  right: 1em;
  top: 1em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: black;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}


.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }
}

/* Intro Section */

.intro {
  position: relative; 
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block; 
}

.btn-intro {
  display: block;
  margin-bottom: .8em;
  width: 220px;
}

@media (min-width: 600px) {
  .intro {
    display: grid; 
    width: min-content;
    margin: 0 auto; 
    grid-column-gap: 1em;
    grid-template-areas: 
     "img title"
     "img subtitle"
     "img btn";
    grid-template-columns: min-content max-content;
  }

  .intro__img {
    grid-area: img;
    min-width: 300px;
    position: relative;
    z-index: 2;
  }

  .btn {
    grid-area: btn;
    grid-column: 2;
    align-self: center;
    justify-self: start;
  }

  .section__subtitle--intro {
    align-self: start;
    justify-self: start;
    grid-column: 2;
    grid-row: 2;
    position: relative; 
  }
}

/* My Services section */

.my-services {
  background: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-light);
  position: relative; 
}

.section__title--services::after {
  content: ''; 
  display: block; 
  width: 3em; 
  height: 1px; 
  margin: 0.5em auto 1em; 
  background: var(--clr-dark);
  opacity: 0.25;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: .5em;
  margin-bottom: 2em;
}

.service {
  max-width: 500px; 
  margin: 0 auto 1em auto; 
}

.icon {
  font-size: 4em;
  margin-bottom: 1em;
}
#github-icon {
  color: #fff;
}

#wordpress-icon {
  color: white;
}

@media (min-width: 800px) {
  .services {
    display: flex; 
    max-width: 1000px; 
    margin-left: auto; 
    margin-right: auto;  
  }

  .service + .service {
    margin-left: 2em; 
  }
}

/* My About Section */

.about-me {
  max-width: 1000px; 
  margin: 0 auto; 
}

.about-me__img {
  box-shadow: var(--bs);
}

.btn-about {
  text-decoration: none;
  font-weight: var(--fw-bold);
  color: var(--clr-dark);
}

.btn-about:hover {
  position: relative;
  top: 2px;
}



@media (min-width: 600px) {
  .about-me {
    display: grid; 
    grid-template-columns: 1fr 300px; 
    grid-template-areas: 
    "title title"
    "subtitle img"
    "text img";
    grid-column-gap: 2em; 
  }
  .section__title--about {
    grid-area: title;
  } 
  .section__subtitle--about {
    grid-area: subtitle; 
    grid-column: 1 / 2; 
    position: relative; 
    left: -1em; 
    padding-left: 1em;
  }
  .about-me__img {
    grid-area: img; 
    align-self: center;
    position: relative; 
    z-index: 2;
  }
}

/* My Work */

.my-work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center; 
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.portfolio--item {
  overflow: hidden;
}

.portfolio--img {
  transition: 
    transform 750ms cubic-bezier(.5, 0, .5, 1), 
    opacity 250ms linear;
  border-radius: 5px;
}

.portfolio--item:focus {
  position: relative; 
  z-index: 2;
}

.portfolio--img:hover, 
.portfolio--item:focus .portfolio--img {
  transform: scale(1.2); 
  opacity: .5; 
}

/* My Blog */
.blog {
  text-align: center;
}

#blog-btn {
  margin-top: 2em;
}

.section__subtitle--blog {
  font-weight: var(--fw-bold);
  background-color: #fff;
}

#medium-link {
  font-size: 3em;
  margin-top: .5em ;
  color: #111111;
}

#medium-link:hover {
  position: relative;
  top: .12em;
}

/* My Contact */

.contact {
  background: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.section__title--contact {
  font-size: var(--fs-h2);
  color: var(--clr-light);
}

.section__subtitle--contact {
  font-size: var(--fs-h3);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-reg);
  margin-bottom: .5em;
}

.header-contact {
  margin-bottom: 2em;
}

  
.contact a {
  color: inherit;
  text-decoration: none;
}

.contact__link {
  font-weight: var(--fw-bold);
  font-size: var(--fs-body);
}

.contact__link:hover, 
.social-list__link:hover {
  opacity: .7;
}

.contact__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .2em;
  font-size: 2em;
}

.social-text {
  display: none;
}

@media (min-width: 600px) {
  .contact {
    display: grid;
    grid-template-areas:
    "title title"
    "social social";
    grid-column-gap: 2em;
  }

  .header-contact {
    grid-area: title;
  }

  .social-list {
    grid-area: social;
    display: flex;
    justify-items: center;
  }

  .social-text {
    display: block;
  }
}

/* Footer */

footer {
  display: inline-block;
  background: #111111;
  width: 100%;
  margin: 0 0;
  padding: 0 0;
}

footer p {
  padding: 0 2em;
  color: var(--clr-light);
  text-align: center;
}
/* Individual Portfolio item styles */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/*LINKS PAGE STYLES*/

.template-header {
  font-size: 3rem;
}

.templates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 1em auto 1em auto ;
}

.template-title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  margin-bottom: 0;
}

.image--notion {
  border: 5px solid var(--clr-dark);
  border-radius: 10px;
  margin: 1.5em 0 ;
  box-shadow: 2px 2px 4px 2px rgb(168, 168, 168);
}

.image--notion:hover {
  position: relative;
  top: -4px;
}

.ko-fi {
  position: relative;
  left: 5%;
  margin-bottom: 10px;
}